# Python
__pycache__/
*.py[cod]
*$py.class
*.cache

# ROS
*.log

# Deep Learning Weights and Models
*.pt
*.pth
*.onnx
*.engine
*.ckpt

# OS / IDEs
.vscode/
.idea/
.DS_Store

# images
*.png
*.jpg
*.JPG
*.jpeg
*.gif
*.bmp
*.tiff

*.csv